{% extends 'base.html.twig' %}

{% block title %}Nationalite index{% endblock %}

{% block body %}
    <h1>Nationalite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nationalite in nationalites %}
            <tr>
                <td>{{ nationalite.id }}</td>
                <td>{{ nationalite.libelle }}</td>
                <td>
                    <a href="{{ path('app_nationalite_show', {'id': nationalite.id}) }}">show</a>
                    <a href="{{ path('app_nationalite_edit', {'id': nationalite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_nationalite_new') }}"> Create new </a>
{% endblock %}
