{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Livre</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ livre.id }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ livre.titre }}</td>
        </tr>
        <tr>
            <th>Quatrieme</th>
            <td>{{ livre.quatrieme }}</td>
        </tr>
        <tr>
            <th>DateParution</th>
            <td>{{ livre.dateParution ? livre.dateParution|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>EmpruntPossible</th>
            <td>{{ livre.empruntPossible ? 'Yes' : 'No' }}</td>
        </tr>
        </tbody>
    </table>
</div>


    <a href="{{ path('app_new_livre_index') }}">back to list</a>

    <a href="{{ path('app_new_livre_edit', {'id': livre.id}) }}">edit</a>

    {{ include('new_livre/_delete_form.html.twig') }}
{% endblock %}
